---
Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
PointerAlignment: Right
ReferenceAlignment: Right
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
SpaceBeforeParens: ControlStatements
SortIncludes: false
IndentCaseLabels: false
NamespaceIndentation: None
FixNamespaceComments: true
...
